.cariMobilContainer {
    display: flex;
    flex-direction: column;

    width: 1047px;
    height: 142px;

    background: #FFFFFF;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-top: -70px;
}

h6 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 24px 0px 16px 24px;
}

.cariMobil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 999px;
    height: 58px;
    margin: 0px 0px 0px 24px;
}

.cariMobil p {
    margin: 0px;
}

.poinCariMobil {
    display: flex;
    flex-direction: column;
}

.poinCariMobil p {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px;

    color: #3C3C3C;
}

.buttonCariMobil {
    width: 51px;
    height: 36px;
    background: #FFFFFF;

    border: 1px solid #0D28A6;
    box-sizing: border-box;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
    margin-top: 20px;
}

select {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    color: #8A8A8A;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 2px;
}

.date input {
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    color: #8A8A8A;
    padding-left: 8px;
}

.time input {
    background: #FFFFFF;

    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #8A8A8A;
    padding-left: 8px;
}

.penumpang input {
    background: #FFFFFF;

    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    color: #8A8A8A;
    padding-left: 8px;
}